/* .panel-header-lg{
    padding-top: 20px !important;
}

.chart_desc{
    padding-left: 25px;
    color: white;
    font-weight: bold;
} */

.dataTables_wrapper .row{
    width: 100%;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
    background: #f96332 !important;
    border-color: #f96332 !important;
}

.action_bar{
  text-align: left;
  padding-left: 25px;
}

.paginate_button.active{
    background: #f96332 !important;
    border-color: #f96332 !important;

}

.paginate_button a{
    color: black !important;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: unset !important;
    color: #000 !important;
    cursor: text;
}
